{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GeekCenter(mission#1-BlogGen+IOT)</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <img src="{% static "my_app/myexample.jpg" %}" alt="My image"/> -->
    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Geek</span> Center
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">BlogGen</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map">PCTracker(IOT)</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">GeekCenter</h1>
                        <p class="intro-text">A blog generator and a PC tracker using GPS <br /><h4>for the geeks by the geeks</h4></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About GeekCenter</h2>
                <p>GeekCenter is a web application made using django-a python frame work. We the students at GEC Bhavnagar have created a <a href="/BlogGen">Blog Generator </a> and a demo of IOT i.e a PC tracker using <a href="#map">GPS API and Browser GEOLOCATION</a> .</p>
                <h2>Idea:</h2>
                <p style="line-height: 200%"><h3>The main idea is to: </h3>
                <ul style="line-height: 200%"><h4>
                    <li>Make the site simple organized and responsive</li>
                    <li>Presently the site gives location of a PC using it's IP address</li>
                    <li>The future plan is to locate servers on the map and get logs from each and every server</li>
                    <li>The logs can then be accessed by various users</li>
                    <li>The idea of server logs maintainence is used by several companies (yes facebook and instagram or any company you name)</li>
                    <li>This technology is used for recovering from failures using logs and for storing all kernel related information and system(here server) health information</li>
                    <li>The site also has a blog/forum called BlogGen which is a Blog generator like Blogspot from google</li>
                    <li>The BlogGen has functionality like :
                    <ol>
                        <li>Writing post on the Go</li>
                        <li>Editing post on the Go</li>
                    </ol>
                    </li>
                    </h4>
                </ul>
                </p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Go to BlogGen a blog generator</h2>
                    <p>A blog generator made using django</p>
                    <a href="/BlogGen" class="btn btn-default btn-lg">Visit BlogGen Page</a>
                </div>
            </div>
        </div>
    </section>

    

    <!-- Map Section -->
    
    <div id="map">

     
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6JavWnRxxgxzHWL4ITzYkW6Oln4hSXug&callback=initMap"
  type="text/javascript"></script>
<script type="text/javascript">
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (p) {
        var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
        var mapOptions = {
            center: LatLng,
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        var marker = new google.maps.Marker({
            position: LatLng,
            map: map,
            title: "<div style = 'height:60px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
        });
        google.maps.event.addListener(marker, "click", function (e) {
            var infoWindow = new google.maps.InfoWindow();
            infoWindow.setContent(marker.title);
            infoWindow.open(map, marker);
        });
    });
} else {
    alert('Geo Location feature is not supported in this browser.');
}
</script>
<div id="dvMap" style="width: 1275px; height: 375px">
</div>
</div>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact us</h2>
                <p>Feel free to give reviews :</p>
                <p><a href="mailto:rohansharm@yahoo.com">rohansharma2021@yahoo.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                   
                    <li>
                        <a href="https://github.com/rohansharma777/GeekCenter" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github- (GeekCenter Source code)</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+RohanSharma007/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>No Copyrights :) for GeekCenter 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

</body>

</html>
